<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>To Do by Soy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <img src="/assets/images/Dingdong.jpg" width="5%"> &emsp;
      <h1 class="logo mr-auto">

        <% if(typeof(loggedIn) != 'undefined') {%>
          <% if(loggedIn === true) {%>
            <a href="/home">
          <%}%>
        <% }else{ %>
            <a href="/">
        <% } %>
             To Do
        </a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          
          <% if(typeof(loggedIn) != 'undefined') {%>
            <% if(loggedIn === true) {%>
           <li class="active"><a href="#">Welcome <%= username %>!</a></li>
           <li><a href="/logout">Log-Out</a></li> 
            <%}%>
          <% }else{ %>
            <li class="active"><a href="#">Not yet logged in!</a></li>
          <% } %>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
    
  </header><!-- End Header -->
  <!-- <div class="row justify-content-center" style="height:100"></div> -->
  <% if(typeof(loggedIn) != 'undefined') {%>
    <div class="row justify-content-center" style="height:100"></div>
  <% }else{ %>
    <!--  -->
  <% } %>
